include ../mixins/sub-menu.pug

header.header 
    .container 
        .row.align-items-center 
            .col-3 
                .inner-logo 
                    a(href="/")
                        img(src="https://img.freepik.com/premium-vector/logo-online-shopping-with-shopping-cart-online-shopping-png-download_24886-894.jpg?w=1380", alt="Logo")

            .col-9 
                .inner-menu 
                    ul 
                        li 
                            a(href="/") Trang chủ
                        li(class="sub-menu")
                            -const  pathProduct = "/products"
                            a(href=pathProduct) Sản phẩm
                            +sub-menu(layoutProductsCategory, pathProduct)
                            
                    
                    
                    
                                            
                    
                    